::selection {
	background: none;
}

/* -------------------------------------------------------------------------- */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin: 0;
}

input {
	font-size: 1em;
	border: none;
	width: 80%;
}

input:focus {
	box-shadow: none;
}

svg {
	fill: currentColor;
	vertical-align: bottom;
}

a {
	text-decoration: none;
}

/* -------------------------------------------------------------------------- */

.container-full {
	display: flex;
	flex-direction: column;
	color: #333;
}

.header {
	color: #fff;
	padding: 10px 30px;
	transition: 200ms;
}

.cover {
	background: #333;
}

.cover.image {
	background-image: url("../images/cover.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
}

.header h1 {
	font-family: "Roboto Slab", serif;
	font-weight: 700;
	margin: 30px 0;
}

.header h2 {
	font-size: 1em;
	font-weight: 400;
	margin: 10px 0;
}

.nav {
	position: fixed;
	top: 10px;
	right: 10px;
}

.nav .email {
	color: #fff;
	font-size: 0.8em;
	margin-right: 10px;
}

.nav-content {
	display: flex;
	align-items: center;
	margin: 0;
}

.menu-image:hover {
	transition: 200ms;
}

.menu-image:hover {
	opacity: 0.5;
}

/* -------------------------------------------------------------------------- */

.task {
	padding: 20px;
	border-bottom: 1px solid #ccc;
	margin: 0;
	transition: 200ms;
}

.task:hover {
	background: hsla(45, 86%, 62%, 0.2);
}

.task span {
	font-weight: 400;
	vertical-align: sub;
	margin: 10px;
}

.segment {
	padding: 20px;
	margin: 0;
}

.action {
	padding: 0;
	margin: 5px;
	height: 30px;
	width: 30px;
	cursor: pointer;
}

.action.marker {
	color: #ccc;
	background: none;
	border: 4px solid #ccc;
	border-radius: 20px;
	font-size: 12px;
}

.action.marker:focus {
	outline: none;
}

/* -------------------------------------------------------------------------- */

.task.incomplete .action.marker::after {
	content: "✔";
	color: #fff;
}

.task.incomplete .action.marker:hover::after {
	content: "✔";
	color: #ccc;
}

.task.complete .action.marker {
	color: #fff;
	background: hsla(140, 50%, 50%, 1);
	border: 2px solid hsla(140, 50%, 50%, 1);
}

.task.complete .action.marker::after {
	content: "✔";
}

.task.complete span {
	color: #ccc;
	text-decoration: line-through;
}

/* -------------------------------------------------------------------------- */

.action.add {
	background: none;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	float: left;
}

.action.add::after {
	content: url("../images/plus.svg");
	font-weight: 900;
	color: hsla(190, 100%, 50%, 1);
	transition: 200ms;
}

.segment.add .insert:focus~.action.add::after {
	content: url("../images/plus-gray.svg");
}

.segment.add .insert {
	transition: 200ms;
}

.segment.add .insert::selection {
	background: hsla(190, 100%, 50%, 0.2);
}

.segment.add .insert:focus {
	outline: none;
}

.segment.add .insert::placeholder {
	color: hsla(190, 100%, 50%, 1);
	transition: 200ms;
}

.segment.add .insert:focus::placeholder {
	color: #ccc;
}

.segment.add .insert.add {
	padding: 8px 15px;
	margin: 0;
}

/* -------------------------------------------------------------------------- */

.modal h3 {
	text-align: center;
}

.center {
	justify-content: center;
}

.form {
	background: #eee;
	padding: 15px;
	border-radius: 3px;
	margin: auto;
	max-width: 400px;
}

.form-group {
	margin-bottom: 1rem;
	max-width: 400px;
}

.form-group:nth-last-child(1) {
	margin-bottom: 0;
}

.form-group label {
	text-align: left;
	display: inline-block;
	margin-bottom: .5rem;
}

.form-group input {
	padding: 12px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 94%;
	max-width: 380px;
}

/* -------------------------------------------------------------------------- */

.button {
	font-size: 16px;
	font-weight: 700;
	padding: 10px 20px;
	border: none;
	border-radius: 3px;
	transition: 200ms;
	cursor: pointer;
	text-decoration: none;
}

.button:focus {
	outline: none;
}

.button.primary {
	color: #fff;
	background: hsla(200, 80%, 50%, 1)
}

.button.primary:hover {
	background: hsla(200, 80%, 60%, 1)
}

.button.help {
	color: #ccc;
	background: none;
	border: none;
}

.button.help:hover {
	color: #aaa;
}