@import url("./brand.css");
.segment-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center {
    justify-content: center;
}

.segment-header {
    font-family: "Gaegu", "Comic Sans", sans-serif;
    transition: 500ms;
}

.segment-header:hover {
    color: hsla(220, 100%, 50%, 1);
}

.segment-title {
    font-size: 3em;
    margin: 10px 0;
}

.segment-subtitle {
    font-size: 2em;
    margin: 10px 0;
}

.segment-app {
    margin: 20px 0;
    flex: 2;
}

.segment-form {
    max-width: 400px;
}

.segment-register {
    margin: 10px 0;
}

.segment-register div {
    margin: 10px 0;
}

.segment-register label {
    color: #333;
    font-weight: 700;
}

.segment-register input {
    border: 2px solid #333;
    padding: 5px;
    min-width: 200px;
}

.segment-footer {
    background: #333;
    color: #eee;
    padding: 10px;
}